a{display:inline-block;text-align:center;}
div.conteins{width:100%; height:100% ;}
div.contenedor{width: 2000px;height:500px;margin-top:auto; margin-left:auto; margin-right:auto;}
a:hover{border:5px solid red;}


reports