nav{background-color: black;text-align: right;}
@font-face {
  font-family: "Bardon Demo";
  src: url("Bardon Demo.otf");
}

.sev{text-align: center;font-family: "Bardon Demo";}
.Desde{text-align: left;}
.experiencias{margin-left:250px;margin-top:3rem;display: flex;}
.experiencias1{display: inline-block;margin-left:4rem;margin-top:1rem;}
.TitleExp{text-align: left;}
.ParagExp{margin-top:2rem;}
.sucursales{margin-left:250px;margin-top:3rem;display: flex;}
.sucursales1{display: inline-block;margin-left:4rem;}
.TitleSuc{text-align:center;}
.ParagSuc{margin-top:1rem;}

.catalogo{display: block;}

.catalogos1{text-align: center;}

.ecos{display: inline-block;text-align: center;}

.botes{height:160px;width:250px;}
.ninos{height:160px;width:250px;}
.comida{height:160px;width:250px;}

.Topers{text-align: center;}
.somos{text-align: center; }
.Y{text-align: right;}

.tupperware {
  width: 1265px;
  height: 400px;
}

.full{width: 100%}
body{margin: 0}
